*{
margin: 0;
padding: 0;
box-sizing:border-box;
}

body {
    font-weight: 1100;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items:center;
    background-image: linear-gradient(135deg,#494256, #9260e3, #00457a);
}

body img{
    width: 50%;
}

.makan-mikelbyne{
    background: #ffffff;
    padding: 30px 40px;
    border-radius: 15px;
    width: 520px;
    height: 520px;
    box-shadow: 0px 8px 25px rgba(0, 0, 0, 25);
}

.loren-mikelbyne {
    position: relative;
    top: -15px;
    left: 108px;
    width: 50%; 
    height: 50%;
}

h2 {
    text-align: center;
    color:rgb(81, 110, 154);
    font-size: 38px;
    font-family: sans-serif;
    font-weight: 700;
}

button {
    height: 48px;
    width: 438px;
    color: white;
    background-color: rgb(67, 74, 133);
    border-radius: 10px;
}

input {
    height: 48px;
    width: 438px;
    border-radius: 10px;
    outline-color: rgb(67, 76, 114);
}

.nisn-mikelbyne {
    font-size: 24px;
    color:rgb(96, 114, 139);
    font-family: sans-serif;
    font-weight: 700;
}
