.mikelbyne-border-1 {
	display: flex;
	gap: 24px;
	justify-content: center;
	margin: 24px 0;
}

.mikelbyne-border {
	line-height: 80%;
	text-align: center;
	gap: 12px;
	border-radius: 24px;
	box-sizing: border-box;
	padding: 20px 20px 16px 20px;
	margin: 12px 0;
	width: 100%;
	max-width: 320px;
    box-shadow: 0px 0px 39px 1px rgb(116, 168, 210);
    background-image: linear-gradient(180deg, #737ada, #c3c3c3);
	margin-left: 15px;
	margin-right: 15px;
	transition:all .26s ease
}

.mikelbyne-border:hover{
transform:translateY(-6px);
box-shadow:0 12px 20px rgba(184, 105, 230, 0.39)
}

.mikelbyne-border img {
    width:100%;
    aspect-ratio: 1 / 1;
    object-fit:cover;
	border-radius: 50%;
	box-sizing: border-box;
	border: 6px solid rgb(91, 91, 91);
}

.mikelbyne-info {
	text-align: center;
	font-family: sans-serif;
	color:azure;
}

.mikelbyne-vm {
	text-align: left;
	font-size: 15px;
	font-stretch: expanded;
	line-height: 20px;
}

html{
    background-image: linear-gradient(135deg,#494256, #9260e3, #00457a);
	background-size:cover;
    background-attachment: fixed;
}

.mikelbyne-titlext {
  font-family: arial;
  font-size: 40px;
  color:white;margin-bottom: 0%;
}

.mikelbyne-title {
	display: flex;
	flex-direction: column;
 	align-items: center;
 	justify-content: center;
}

.mikelbyne-title-desc {
    font-family: Arial;
    font-size: 18px;
    color: white;
	text-align: center;
	top:40px;
	margin-bottom: 35px;
}

.mikelbyne-title img{
    display: block;
    width: 120px;
	height: 120px;
}

/*wait*/
.mikelbyne-button{
	display: flex;
	justify-content: center;
	text-align: center;
	margin-top: 24px;
	position: center;
}

.button-mikelbyne {
	--bg: #000;
	--hover-bg: white;
	--hover-text: #000;
	color: white;
	cursor: pointer;
	border: 1px solid var(--bg);
	border-radius: 24px;
	padding: 0.8em 2em;
	background: var(--bg);
 	transition: 0.2s;
  	margin-right: 17px;
	margin-left: 17px;
	width: 200px;
	height: 47px;
	margin-bottom: 50px;
}

.button-mikelbyne:hover {
  color: var(--hover-text);
  transform: translate(-0.25rem, -0.25rem);
  background: var(--hover-bg);
  box-shadow: 0.25rem 0.25rem 5px var(--bg);
}

.button-mikelbyne:active {
  transform: translate(0);
  box-shadow: none;
}

ol {
	list-style: circle;
	text-align: left;
}

/*BAGIAN YANG DIKERJAKAN SISWA*/
/*Michael*/
/*- Live Share file*/
/*- ol dalam css*/
/*- .mikelbyne-vm dalam css (hanya dalam bagian awal)*/
/*title dalam html*/

/*Elbert*/
/*Menambahkan button dan hovernya (reference: https://uiverse.io/hsemuloki/red-gecko-87).*/
/*Merapihkan margin dan position pada bagian title, border, dan button.*/
/*Mengadakan warna gradien pada background html dan background border.*/
/*Menambahkan border dan merapihkan posisinya.*/
/*Merapihkan bentuk dari border, button, dan image dalam css.*/

/*Evelyne*/
/*Menambahkan box-shadow pada border*/
/*Menambahkan efek hover pada border*/
/*Menambahkan transisi pada border*/

